<div class="container">
  <div class="text-center">
    <h1 id="bigTitle">
      <span class="fire">F</span>
      <span class="burn">e</span>
      <span class="fire">a</span>
      <span class="burn">t</span>
      <span class="fire">u</span>
      <span class="burn">r</span>
      <span class="fire">e</span>
      <span> &nbsp; </span>
      <span class="burn">L</span>
      <span class="fire">i</span>
      <span class="burn">s</span>
      <span class="fire">t</span>
      <span> &nbsp; </span>
      <span class="fire">
        {{ todos.length }}
      </span>
    </h1>
  </div>

  <div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="checkbox" ng-repeat="todo in todos">
        <label>
          {{ todo.text }}
        </label>
        <span class="glyphicon glyphicon-trash" ng-click="deleteClicked(todo)"></span>
        </div>
      </div>
      <div ng-confirm-remove todo="selectedTodo" show="modalShown" show='modalShown' confirm='deleteConfirmed()' width='450px' height='350px'>
    </div>
  </div>

  <div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      {{ err_msg }}
    </div>
  </div>
  <div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">
          <input id="new-todo" type="text" class="form-control input-lg text-center" placeholder="The feature I want is ..." ng-model="formData.text">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">
          Add
        </button>
      </form>
    </div>
  </div>
</div>
