<div class="container">
  <div class="text-center original-title">
    <h1 id="bigTitle">
      <span class="fire">P</span>
      <span class="burn">l</span>
      <span class="fire">a</span>
      <span class="burn">y</span>
      <span class="fire">l</span>
      <span class="burn">i</span>
      <span class="fire">s</span>
      <span class="burn">t</span>
      <span> &nbsp; </span>
      <span> &nbsp; </span>
      <span class="fire">
        {{ todos.length }}
      </span>
    </h1>
  </div>

  <div class="text-center new-title canvas-wrapper">
    <h1>
      Playlist {{ todos.length }}
    </h1>

    <canvas id="flaming-canvas" width="500" height="500"></canvas>
  </div>

  <div id="todo-list" class="row">
    <div class="col-sm-12" style="text-align: center;">
      <div ng-repeat="todo in todos">
        <label>
          {{ todo.text }} <span style="font-style:italic; font-weight:100">Added By {{ todo.userEmail }}</span>
        </label>
        <span class="glyphicon glyphicon-trash" ng-click="deleteClicked(todo)" ng-show="isMine(todo)"></span>
        </div>
      </div>
      <div ng-confirm-remove todo="selectedTodo" show="modalShown" show='modalShown' confirm='deleteConfirmed()' width='700px' height='300px'>
    </div>
  </div>

  <div>
    <div class="col-sm-8 col-sm-offset-2 text-center">
      {{ err_msg }}
    </div>
  </div>
  <div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form>
        <div class="form-group">
          <input id="new-todo" type="text" class="form-control input-lg text-center" placeholder="Enter the name of track ..." ng-model="formData.text" ng-keyup="searchTracks()">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo($event)">
          Add
        </button>
      </form>
      <div ng-show="tracks" ng-repeat="track in tracks">
        <p ng-click="selectTrack(track)">{{ track.name }} - <span ng-repeat="artist in track.artists">{{ artist.name }}</span></p>
      </div>
    </div>
  </div>
</div>
